### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
#build/
develop-eggs/
# dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.pot

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Environments
.venv
venv/
ENV/
env.sh

# mypy
.mypy_cache/

# mpeltonen/sbt-idea plugin
.idea_modules/


# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/



### SublimeText template
# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace


### Project template

logs/
.pytest_cache/
.ipython/
.idea/

test_data/*

media/*
.bash_history

.envs
billing_admin/media/
billing_admin/static/
billing_admin/.config/
script_folder/*
.env